@import '../../Theme/theme.scss';

.#{$precls}-spliter {
    width: 2px;
    position: relative;
    cursor: ew-resize;

    &-hover {
        background-color: $buttonColor;
    }

    &-button {
        position: absolute;
        top: 32px;
        left: -12px;
        border-radius: 50%;
        cursor: pointer;
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        border: 0;
        padding: 0;
        outline: 0;
        box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);

        &-hover {
            background-color: $buttonColor;
        }
    }

    &-left{
        transform: rotate(180deg);
    }
}