$precls:"lt";
$popBG:#FFF;
$hoverBG:#f4f5f7;
$panelBG:rgba(255, 255, 255, 0.3);
$buttonBG:rgba(222, 235, 255, 0.9);
$dividerBG: rgba(9, 30, 66, 0.08);
$selected:#0052cc;

$buttonColor:#0052cc;
$txtColor:#172b4d;

$popBG-second:#FFF;
$hoverBG-second:#f4f5f7;
$panelBG-second:rgba(255, 255, 255, 0.3);