@import '../../Theme/theme.scss';

.#{$precls}-modal {
    &-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    &-dialog {
        position: absolute;
        left: 50%;
        top: 50%;
        background: #FFF;
        z-index: 1001;
        transform: translate(-50%, -50%);
    }

    &-header {
        display: flex;
    justify-content: space-between;
    }

    &-content {}
}